.banner {
  background-image: asset-url("banner.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 750px;
}

.text-center {
  text-align: center;
}

.banner-btn {
  opacity: 0.5;
}

.banner-text {
  padding-top: 33%;
}

.banner-text h1 {
  color: #fff;

  font-size: 53px;
  letter-spacing: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.banner-text p {
  color: #8d8d8d;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 80px;
  text-transform: uppercase;
}

.fundo-verde{
  background-color: #C0F7AC
}




