// .banner {
//   color: white;
//   text-align: center;
//   height: 800px;
//   /* if you have a 70px navbar => height: calc(100vh - 70px); */
//   background-size: cover !important;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   background-image: asset-url('1controller.jpg');
// }
// .banner h1 {
//   font-size: 90px;
//   font-weight: bold;
//   text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
// }
// .banner p {
//   font-size: 25px;
//   font-weight: lighter;
//   color: rgb(255, 255, 255);
//   opacity: 0.6;
//   margin-bottom: 30px;
// }// Specific CSS for your home-page
// .varios-banners h1 {
//   font-size: 100px;
//   text-align: center;
// }

.banner {
  background-image: asset-url("banner.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 750px;
}

.text-center {
  text-align: center;
}

.banner-btn {
  opacity: 0.5;
}

.banner-text {
  padding-top: 33%;
}

.banner-text h1 {
  color: #fff;

  font-size: 53px;
  letter-spacing: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.banner-text p {
  color: #8d8d8d;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 80px;
  text-transform: uppercase;
}

.fundo-verde{
  background-color: #C0F7AC
}




