.games-container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 80px;
  margin-left: 0;
}

.index_card {
  margin-bottom: 25px;
  margin-top: 25px;
  padding: 20px;
}

#all_games {
  font-size: 80px;
  margin-bottom: 40px;
}

.thumbnail {
  border: none;
  padding: 5px;
}

.form-inline {
  width: 600px;
}

.form_find_game {
  font-size: 30px;
}
