.btn-games {
  font-size: 25px;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  transition: background 0.3s ease;
}
.btn-games:hover {
  opacity: 1;
  text-decoration: none;
  color: white;
}
.btn-new-game {
  background: #2d73c4;
}
.btn-new-game:hover {
  background: #1a579e;
}
