.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin: 0 auto;
  max-width: 480px;
  height: 350px;
  box-shadow: 2px 2px #eaeaea;
  border-radius: 3px;
}
.card-name {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 36px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 24px;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
