.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background: #353535;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.1);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 0.5;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: black;
}
.footer .fa-heart {
  color: red;
}

.footer-copyright{
  color: #999A99;

}
